<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

    <form action="/" method="POST">
      <h2>Add a quote!</h2>
      <div class="input-container">
        <input class="input-field" type="text" placeholder="Quote" name="quote">
      </div>

      <div class="input-container">
        <input class="input-field" type="text" placeholder="Author" name="author">
      </div>

      <div class="input-container">
        <input class="input-field" type="text" placeholder="Author age" name="age">
      </div>

      <button type="submit" class="btn" value="Submit">Login</button>
    </form>
 
</body>
</html>